{% extends 'admin_templates/base_template.html' %}
{% block title %}Add Product | Koosono Agro.{% endblock %}
{% load static %}
{% block main_content %}
<main id="main" style="margin-top: 70px;">
        <div class="container">
            <div class="row">
                {% url 'add_product_save' as action_path %}
                {% include 'admin_templates/add_product_form.html' with form=form action_path=action_path button_text="Submit" %}

            </div>

        </div>
    </section>


</main><!-- End #main -->
{% endblock main_content %}
{% block custom_js %}

{% endblock custom_js %}


