{% load static %}
<footer id="foot">
    <span style="text-align: center; font-size: 13px;"><script>document.write(new Date().getFullYear());</script> &copy; Koosono Agrochemicals Ltd. Developed by KING LOTH.</span>
</footer>
<style>
    #foot {
        margin-top: auto; /* Pushes the footer to the bottom */
        background: #f3f5f8
        padding: 10px;
        text-align: center;
        color: black;
        margin-bottom: 18px;
    }
    @media (max-width: 600px) {
        #footer {
            margin-left: 0px;
        }
    }
</style>
